*{
    margin: 0;
    padding: 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    margin-top: 10px;
    margin-bottom: 1%;
    font-size: 75px;
    font-family: 'Finlandica', sans-serif;
}
#dimensionsText{
    font-size: 30px;
    font-family: 'Gantari', sans-serif;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);

}
#dimensions{
    width: 100%;
    display: flex;
    justify-content: center;
}

#slider {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 10px;
    width: 100%; 
}
canvas{
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.9);
}

#collection{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
#leftCollection{
    margin: 5%;
    width: fit-content;
    height: 100%;
}

#centerCollection{
    width: fit-content;
    height: 100%;
}
#rightCollection{
    margin: 5%;
    width: fit-content;
    height: 750px;
}

.grid-container{
    width: fit-content;
    padding: 10px;
    box-shadow: 0px 0px 10px 5px rgba(10, 10, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-gap: 1em;
}
.grid-item{
    border: 5px solid black;
    aspect-ratio: 1/1;
    width: 50px;
}

#grid-item1{
    background: red;
}
#grid-item2{
    background: orange;
}
#grid-item3{
    background: yellow;
}
#grid-item4{
    background: lime;
}
#grid-item5{
    background: green;
}
#grid-item6{
    background: aqua;
}
#grid-item7{
    background: blue;
}
#grid-item8{
    background: purple;
}
#grid-item9{
    background: white;
}
#grid-item10{
    background: lightgray;
}
#grid-item11{
    background: gray;
}
#grid-item12{
    background: black;
}